.submenuBody{
    overflow-x: hidden;
    overflow-y: scroll;
}

.fullCategoryBody{
    background: linear-gradient(to bottom right, rgb(136, 129, 129), #f0f0f0);
    min-height: 80vh;
}


.categoryHeader{
    margin: 0 auto;
}