.dropdown {
    margin: 20px;
    button {
      background-color: #f00;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
    }
    .dropdown-content {
      display: none;
      margin-top: 10px;
      background-color: #f1f1f1;
      color: black;
      padding: 10px;
      position: absolute;
    }
  }
  .dropdown button:focus + .dropdown-content, .dropdown button:active + .dropdown-content {
    display: block;
  }
  