/* DeleteModal.scss */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px green;
    z-index: 6;
  }
  
  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    height: 50%;
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: red;
    border: none;
    padding: 0;
  }
  
  .delete-modal-content {
    text-align: center;
    p {
      margin-bottom: 20px;
    }
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    button {
      margin: 0 10px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }
  
    .cancel-button {
      background-color: #007bff; /* You can adjust this color */
      color: #fff;
    }
  
    .delete-button {
      background-color: #FF0000; /* You can adjust this color */
      color: #fff;
    }
  }
  