@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Rubik+Doodle+Triangles&display=swap');

*{
    font-size: 20px;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-x: scroll;

}
    

.mainHeader{
    width: 100%;
    height: 20vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.mainLogo{
    margin-top: .2vh;
    width: 50%;
    margin-left: .2vw;
    height: auto;
    background-image: url('Designher.jpg');
    background-position: center;
    background-size: cover;
}

.headerRightSide{
    margin-top: 1vh;
    width: 48%;
    height: 140px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.searchBar{
    height: 60px;
    width: 9rem;
    border-radius: 15px;
    background-color: #D9D9D9;
    margin-left: 2vw;
    margin-top: 1vh;
    overflow: hidden;
}

.navigationBar{
    height: 80%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    color: rgb(230, 230, 230);
    margin: 0 auto;
    margin-top: 10%;
    align-content: flex-start;
    overflow: hidden;
}

.navigationBarTwo{
    height: 80%;
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-left: 10px;
    color: rgb(230, 230, 230);
    align-content: flex-start;
    overflow: hidden;
}

.navUlTag{
    width: 95%;
    height: 90%;
    margin-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: flex-start;}


.firstNavItem{
    width: 70%;
    height: 90%;
    margin-left: -22%;
    align-self: flex-start;
    justify-self: flex-start;
}

.navItem{
    margin-left: 2%;
    width: 40%;
}



.homeVideo{
    object-fit: cover;
    width: 100%;
    height: 35vh;
    margin: 0;
    border: 0;
    padding: 0;
    border: solid 2px black;
}


.homeVideoTwo{
    object-fit: cover;
    height: 30vh;
    margin: 0;
    border: 0;
    padding: 0;
    border: solid 2px black;
    margin-left: 2vw;
    margin-bottom: 6vh;
}

.homeVideoThree{
    object-fit: cover;
    height: 30vh;
    margin: 0;
    border: 0;
    padding: 0;
    border: solid 2px black;
    margin-left: 2vw;
}

.slideShowSection{
    width: 900vw;
    height: 105vh;
    background-color: white;
    overflow: hidden;
}

.slideShowText{
    color: #FF0000;
    align-self: center;
    font-size: 40px;
    margin-left: 20vw;
}
/* 
.customIcon{
    margin-left: 10vw;
    color: #FF0000;
    font-size: 70px; 
    height: 40px;
    width: 20vw;
} */

.theSlideShow{
    object-fit: contain;
    height: 51vh;
    width: auto;
    margin-left: 5vw;
    border-radius: 25px;
}

.categoriesSection{
    background: linear-gradient(to right, #FF0000, #CC0000, #990000, #660000);
    height: 120vh;
    width: 100vw;
    margin-top: -10px; /* Adjust the value as needed */
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.categoriesHeader{
    color: #958e8e;
    font-size: 40px;
    letter-spacing: 1px;
    margin-left: 20%;
}

.imageCard{
    height: 30vh;
    width: 80%;
    background-image: url('women.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 4vh;
    border-radius: 20px;
    transition: background-image 0.3s ease; /* Adding transition for smooth effect */
}

.imageCard:hover{
    background-image: url('womanHover.png');
}

.imageCardTwo{
    height: 30vh;
    width: 80%;
    background-image: url('children.png');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 4vh;
    border-radius: 20px;
}

.imageCardTwo:hover{
    height: 30vh;
    width: 80%;
    background-image: url('childrenHover.png');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 4vh;
    border-radius: 20px;
}

.imageCardThree{
    height: 30vh;
    width: 80%;
    background-image: url('blackMan.png');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20vh;
    border-radius: 20px;
}

.imageCardThree:hover{
    height: 30vh;
    width: 80%;
    background-image: url('menHover.png');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20vh;
    border-radius: 20px;
}

li{
    margin-left: 0;
}

.aboutHeader{
    color: #958e8e;
    font-size: 40px;
    letter-spacing: 1px;
    margin-left: 35%;
    font-family: 'Edu QLD Beginner', sans-serif;
}

.aboutSection{
    height:800vh;
    width: 100vw;
    background: linear-gradient(to right, #000000 0%, #121212 25%, #1f1e1e 50%, #121212 75%, #000000 100%);
    text-align: justify; 
    overflow-y: hidden;
    font-family: 'Edu QLD Beginner', sans-serif;
}

.videosSection{
    background: #fff;
    height: 120vh;
    width: 100vw;
    text-align: justify; 
    color: red;
}

.videosHeader{
    color: red;
    font-size: 40px;
    letter-spacing: 1px;
    margin-left: 30%;
}


.aboutParagraph{
    color: rgb(243, 49, 49);
    font-size: 50px; /* Adjust font size as needed for readability */
    line-height: 1.2; /* Set appropriate line height for better readability */
    margin-bottom: 20px; 
    margin-left: 8%;
    width: 85%;
    font-family: 'Edu QLD Beginner', sans-serif;
    overflow: hidden;
}