@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Rubik+Doodle+Triangles&display=swap');

*{
    font-size: 20px;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-x: scroll;

}

a {
    text-decoration: none; /* Removes underline */
    color: rgb(230, 230, 230);
    outline: none; /* or background-color: transparent; or any other style */
  }
  
  /* Removes the blue highlight on link click */
  a:focus, a:hover {
    outline: none; /* or background-color: transparent; or any other style */
  }

.homeVideo{
    object-fit: fill;
    width: 100%;
    height: 35vh;
    margin: 0;
    border-top: solid 2px #e2dfdf;
    border-bottom: solid 3px #fb0a0a;
    padding: 0;
}


.homeVideoTwo{
    object-fit: cover;
    height: 30vh;
    margin: 0;
    border: 0;
    padding: 0;
    border: solid 2px black;
    margin-left: 2vw;
    margin-bottom: 6vh;
}

.homeVideoThree{
    object-fit: cover;
    height: 30vh;
    margin: 0;
    border: 0;
    padding: 0;
    border: solid 2px black;
    margin-left: 2vw;
}

.slideShowSection{
    width: 95%;
    height: 90vh;
    background-color: white;
    overflow: hidden;
    margin-left: 2%;
}

.slideShowText{
    color: #FF0000;
    align-self: center;
    font-size: 40px;
    margin-left: 20vw;
}
/* 
.customIcon{
    margin-left: 10vw;
    color: #FF0000;
    font-size: 70px; 
    height: 40px;
    width: 20vw;
} */

.theSlideShow{
    object-fit: contain;
    height: 52%;
    width: 90%;
    margin-left: 5%;
}

.categoriesSection{
    background: linear-gradient(to right, #FF0000, #CC0000, #990000, #660000);
    height: 194vh;
    width: 100vw;
    margin-top: -10px; /* Adjust the value as needed */
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.categoriesHeader{
    color: #958e8e;
    font-size: 40px;
    letter-spacing: 1px;
    margin-left: 30%;
}

.categoriesHeaderOne{
    color: white;
    font-size: 40px;
    letter-spacing: 1.3px;
    margin-left: 33%;
}

.categoriesHeaderTwo{
    color: white;
    font-size: 40px;
    letter-spacing: 1.3px;
    margin-left: 27%;
}

.categoriesHeaderThree{
    color: white;
    font-size: 40px;
    letter-spacing: 1.3px;
    margin-left: 25%;
}

.categoriesHeaderFour{
    color: white;
    font-size: 40px;
    letter-spacing: 1.3px;
    margin-left: 33%;
}

.imageCard{
    height: 30vh;
    width: 80%;
    background-image: url('crocsFour.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 4vh;
    border-radius: 20px;
    transition: background-image 0.3s ease; /* Adding transition for smooth effect */
}

.imageCard:hover{
    background-image: url('crocThumbnail.jpeg');
}

.imageCardTwo{
    height: 30vh;
    width: 80%;
    background-image: url('jacketThumbnail.jpeg');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 4vh;
    border-radius: 20px;
}

.imageCardTwo:hover{
    height: 30vh;
    width: 80%;
    background-image: url('jacketThumbnail.jpeg');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 4vh;
    border-radius: 20px;
}

.imageCardThree{
    height: 30vh;
    width: 80%;
    background-image: url('unicornSneaker.jpg');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 4vh;
}

.imageCardThree:hover{
    height: 30vh;
    width: 80%;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 20px;
}


.imageCardFour{
    height: 30vh;
    width: 80%;
    background-image: url('bootThumbnail.jpg');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 20px;
}

li{
    margin-left: 0;
}

.aboutHeader{
    color: #958e8e;
    font-size: 40px;
    letter-spacing: 1px;
    margin-left: 35%;
    font-family: 'Edu QLD Beginner', sans-serif;
}

.aboutSection{
    height:800vh;
    width: 100vw;
    background: linear-gradient(to right, #000000 0%, #121212 25%, #1f1e1e 50%, #121212 75%, #000000 100%);
    text-align: justify; 
    overflow-y: hidden;
    font-family: 'Edu QLD Beginner', sans-serif;
}

.videosSection{
    background: #fff;
    height: 90vh;
    width: 100vw;
    text-align: justify; 
    color: red;
}

.videosHeader{
    color: red;
    font-size: 40px;
    letter-spacing: 1px;
    margin-left: 30%;
}


.aboutParagraph{
    color: rgb(243, 49, 49);
    font-size: 50px; /* Adjust font size as needed for readability */
    line-height: 1.2; /* Set appropriate line height for better readability */
    margin-bottom: 20px; 
    margin-left: 8%;
    width: 85%;
    font-family: 'Edu QLD Beginner', sans-serif;
    overflow: hidden;
}

/* Mobile styles go here */

@media (min-width: 768px) {
    
    .homeVideo{
        object-fit: cover;
        width: 100%;
        height: 70vh;
        margin: 0;
        border-top: solid 2px #e2dfdf;
        border-bottom: solid 3px #fb0a0a;
        padding: 0;
    }
    
    
    .homeVideoTwo{
        object-fit: cover;
        height: 30vh;
        margin: 0;
        border: 0;
        padding: 0;
        border: solid 2px black;
        margin-left: 2vw;
        margin-bottom: 6vh;
    }
    
    .homeVideoThree{
        object-fit: cover;
        height: 30vh;
        margin: 0;
        border: 0;
        padding: 0;
        border: solid 2px black;
        margin-left: 2vw;
    }
    
    .slideShowSection{
        width: 95%;
        height: 90vh;
        background-color: white;
        overflow: hidden;
        margin-left: 2%;
    }
    
    .slideShowText{
        color: #FF0000;
        align-self: center;
        width: fit-content;
        font-size: 40px;
        margin: 0 auto;
        border: solid 2px purple;
    }
    /* 
    .customIcon{
        margin-left: 10vw;
        color: #FF0000;
        font-size: 70px; 
        height: 40px;
        width: 20vw;
    } */
    
    .theSlideShow{
        height: 40vh;
        width: 50%;
        margin-left: 5%;
        border: solid 2px green;
    }    

    .categoriesSection{
        background: linear-gradient(to right, #FF0000, #CC0000, #990000, #660000);
        height: 194vh;
        width: 100vw;
        margin-top: -10px; /* Adjust the value as needed */
        padding: 0;
        border: 0;
        box-sizing: border-box;
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    
    .categoriesHeader{
        color: #958e8e;
        font-size: 40px;
        letter-spacing: 1px;
        margin-left: 30%;
    }
    
    .categoriesHeaderOne{
        color: white;
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-left: 33%;
    }
    
    .categoriesHeaderTwo{
        color: white;
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-left: 27%;
    }
    
    .categoriesHeaderThree{
        color: white;
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-left: 25%;
    }
    
    .categoriesHeaderFour{
        color: white;
        font-size: 40px;
        letter-spacing: 1.3px;
        margin-left: 33%;
    }
    
    .imageCard{
        height: 30vh;
        width: 80%;
        background-image: url('crocsFour.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-bottom: 4vh;
        border-radius: 20px;
        transition: background-image 0.3s ease; /* Adding transition for smooth effect */
    }
    
    .imageCard:hover{
        background-image: url('crocThumbnail.jpeg');
    }
    
    .imageCardTwo{
        height: 30vh;
        width: 80%;
        background-image: url('jacketThumbnail.jpeg');
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 4vh;
        border-radius: 20px;
    }
    
    .imageCardTwo:hover{
        height: 30vh;
        width: 80%;
        background-image: url('jacketThumbnail.jpeg');
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 4vh;
        border-radius: 20px;
    }
    
    .imageCardThree{
        height: 30vh;
        width: 80%;
        background-image: url('unicornSneaker.jpg');
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        border-radius: 20px;
        margin-bottom: 4vh;
    }
    
    .imageCardThree:hover{
        height: 30vh;
        width: 80%;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        border-radius: 20px;
    }
    
    
    .imageCardFour{
        height: 30vh;
        width: 80%;
        background-image: url('bootThumbnail.jpg');
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        border-radius: 20px;
    }


  }
  
  @media (min-width: 1024px) {
    /* Desktop styles */
    
  }
  