.submenuBody{
    overflow-x: hidden;
    overflow-y: scroll;
}

.fullCategoryBody{
    min-height: 80vh;
    background-image: url('../redBackgroundGradient.webp');
    background-repeat: repeat-x;
    background-size: cover;
}


.categoryHeader{
    text-align: center; /* Center the text within the <h1> element */
    margin: 0; /* Reset any default margins */
    font-size: 75px;
    letter-spacing: 2.5px;
}