.submenuBody{
    overflow-x: hidden;
    overflow-y: scroll;
    background: linear-gradient(to bottom right, rgb(136, 129, 129), #f0f0f0);
}

.categoryHeader{
    text-align: center; /* Center the text within the <h1> element */
    margin: 0; /* Reset any default margins */
    font-size: 75px;
    letter-spacing: 2.5px;
    background: linear-gradient(to bottom right, rgb(136, 129, 129), #f0f0f0);
}