
.entireProductDescriptionPage{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.pictureTest{
    display: flex;
    position: relative;
    z-index: 1;
    height: 50vh;
    overflow: hidden;
    object-fit: fill;
}

.fullBottomSection{
    display: flex;
    flex-direction: column;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    background: linear-gradient(to right, #c45f37, #c22007);
    height: 54vh;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: -30px;
    overflow: hidden;
}

.infoSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35%;
    margin-top: 5%;
}

.nameAndPriceSection{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    min-width: 60%;
    height: 100%;
    white-space: nowrap;
    word-wrap: break-word;
    justify-items: flex-start;
}

.ratingsSection{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: pre-wrap;
}

.name{
    font-size: 40px;
    max-width: 100%;
    max-height: 57%;
    color: black;
    margin-left: 2%;
    overflow: hidden;
    white-space: pre-wrap;
}

.price{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(43, 245, 43);
    margin-left: 2%;
    margin-top: -8%;
    width: 50%;

}

.ratingsHeader{
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.ratingsStars{

}

.writeAReview{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.descriptionSection{
    padding: 10px;
    width: 80%;
    height: 38%;
    margin: 0 auto;
    font-size: 35px;
    font-family: fantasy;
    color: rgb(66, 1, 1);
    border-bottom: solid 1px rgb(66, 1, 1);
}

.buttonsSection{
    margin: 0 auto;
    width: 90%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
}

.buyNowButton{
    width: 40%;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(71, 114, 6), rgb(30, 48, 2));
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.addToCartButton{
    width: 40%;
    border-radius: 15px;
    color: white;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(156, 9, 9);
    border-color: rgb(156, 9, 9);

}