.profile-page {
    background: linear-gradient(to right, #FF0000, #CC0000, #990000, #660000);
    color: white;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .profileUsername{
    color: rgb(245, 115, 115)
  }

  .orderDate{
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
  }

  .orderAndreviewItems{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  