.submenuBody{
    overflow-x: hidden;
    overflow-y: scroll;
}

.fullCategoryBody{
    min-height: 80vh;
    background-image: url('../redBackgroundGradient.webp');
    background-repeat: repeat-x;
    background-size: cover;
}

.categoryHeader{
    margin: 0 auto;
}