.welcomeModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
 }
  
  .welcomeModal {
    background: linear-gradient(to right, #FF0000, #CC0000, #990000, #660000);
    padding: 20px;
    height: 60%;
    width: 80%;
    color: black;
    font-size: 45px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px; // Adjust the space between buttons
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}
  
  .welcomeModal-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        color: black;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s, transform 0.2s;
      
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
          transform: translateY(-2px);
        }
      
        &:active {
          transform: translateY(1px);
        }
      
    }
  
  h2 {
    color: black;
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
  }
  
  p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
  }
  